---
import AvatarList from "./AvatarList.astro";
---

<div class="flex flex-col gap-4 text-xs  max-w-[350px]">
  <div class="flex flex-col sm:flex-row gap-2 w-full justify-between">
    <div>
      <p class="font-extrabold opacity-90">430,000 Users</p>
      <p class="opacity-70">is building Cleverbot together</p>
    </div>
    <div>
      <p class="font-extrabold opacity-90">1M Users</p>
      <p class="opacity-70">Estimated additional reach</p>
    </div>
  </div>
  <div class="w-full h-2 bg-theme-purple-light rounded-full">
    <div class="w-4/12 bg-theme-purple h-full rounded-full"></div>
  </div>
  <AvatarList />
</div>
