---
import Button from "./Button.astro";
---

<div class="max-w-xs flex flex-col gap-6 items-start">
  <h1 class="font-bold text-5xl">Building the future of AI together</h1>
  <p class="opacity-80 leading-tight">
    AI is transforming the world, and we are leading the charge. We are
    constructing the future of AI as a collective.
  </p>
  <Button wIcon />
</div>
